<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      body {
        color: #333333;
        font-family: arial;
        max-width: 650px;
        margin: 0;
        padding : 0 16px;
      }
    </style>
    <title>{{title}}</title>
</head>

<body>
    {{>header}}


    <h1>About Page:</h1>
    <p>{{body}}</p>


     {{>footer}}
</body>

</html>